# Input files

*.wav
*.mov
*.avi
*.webvtt

# Output folders and files

ed_hls_gear*
ed_hls_main_audio*
ed_hls_adesc*
ed_hls_just_adesc*
ed_hls_webvtt

*.ts
*.vtt

# Information and logs

validation_data.json
ed_hd_validation_data.html
ed_hd_debug_validation_data.html
*.log
